{% extends "layout.html"  %}

{% block title %}
    Sell
{% endblock %}


{% block main %}

    {% if not data %}

    <p class="cash">Currently you do not own any stocks.</p>

    {% else %}
    
      <form action="/sell" method="post">
        
        <div class="form-group">
            <select class="form-control" name="ticker">
              <option selected disabled>Ticker</option>
              
                {% for item in data %}
                  <option placeholder="Ticker">{{ item }}</option>
                {% endfor %}
                
            </select>
        </div>
  
        <div class="form-group">
              <input class="form-control" name="amount" placeholder="amount" type="text">
        </div>
        
        <button class="btn btn-primary" type="submit">Sell</button>
        
      </form>
      
    {% endif %}

{% endblock %}
